{% extends 'CoregenAdminBundle::layout.html.twig' %}

{% block title %}Administrativo- {% endblock %}

{% block content %}
<h1>Administrativo</h1>

<h2>Informações iniciais</h2>
<pre>
    
</pre>

{% endblock %}
